<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('参数列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="config-form">
                <div class="select-list">
                    <ul>
                        <li>
                            用户编码：<input type="text" name="userId"/>
                        </li>
                        <li>
                            类型：<input type="text" name="touristguideName"/>
                        </li>
                        <li class="select-time">
                            <label>开始时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="begin"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="end"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    let editFlag = [[${@permission.hasPermi('system:expensesRecord:edit')}]];
    let removeFlag = [[${@permission.hasPermi('system:expensesRecord:remove')}]];
    let datas = [[${@dict.getType('ticket_orders_status')}]];
    let prefix = ctx + "tourism/expensesRecord";

    $(function() {
        let options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            sortName: "id",
            queryParams: queryParams,
            sortOrder: "desc",
            modalName: "消费记录",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '编码'
                },
                {
                    field: 'userId',
                    title: '用户编码',
                    visible: false
                },
                {
                    field: 'userName',
                    title: '游客名称'
                },
                {
                    field: 'expensesDetails',
                    title: '消费详情',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 20);
                    }
                },
                {
                    field: 'integration',
                    title: '积分'
                },
                {
                    field: 'timeSpent',
                    title: '消费时间'
                }]
        };
        $.table.init(options);
    });

    function queryParams(params) {
        let search = $.table.queryParams(params);
        search.userId = [[${userId}]];
        return search;
    }
</script>
</body>
</html>